
@font-face {
    font-family: "Dekko";
    src: url("/fonts/Dekko-Regular.woff2") format("woff2"),
    url("/fonts/Dekko-Regular.woff") format("woff"),
    url("/fonts/Dekko-Regular.ttf") format("truetype")
    ;
  }

/* vuestic override */
:root {
  --va-font-family:"Dekko";
}  
